
.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 500;
  padding: 0;
  user-select: none;
}

.loader {
    transform: translate(-70%, -20%);
    width: 10em;
    user-select: none;
}
