$profile-background: rgb(240, 239, 235);
$profile-text-color: rgb(0, 0, 0);
.profile {
  grid-area: content;
  background-color: $profile-background;
  color: $profile-text-color;
  font-size: 1em;
  padding: 0 2em;
}