.mainWrapper {
  display: grid;
  grid-template:
    "personal contacts" 12.5em
    "job contacts" 15em
    "submit submit" 4em
    "submitResult submitResult" 4em;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  padding-top: 2em;
  justify-content: center;
  background-color: RGB(5, 33, 54);
  height: calc(100vh - 5.5em);
  overflow: hidden;
  color: white;
  font-size: 1em;
  div {
    margin: 0.6em 0;
  }
}

.sectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  border: 1px outset rgb(180, 181, 182);
  border-radius: 0.4em;
  padding: 1.5em 0;
  width: 32em;
  label {
    margin: 0.5em 0;
  }
  input {
    font-size: 0.95em;
    text-align: center;
    padding: 0.1em 0.6em;
    height: 1.7em;
    margin-left: 0.8em;
    vertical-align: middle;
    width: 18em;
    border-radius: 0.2em;
    font-weight: 600;
    outline-color: rgb(255, 188, 2);
  }
  input[type="checkbox"] {
    width: 1.2em;
    outline: none;
  }
}

.sectionHeader {
  position: absolute;
  top: -2em;
  text-align: center;
  background: RGB(5, 33, 54);
  padding: 0 1em;
  color: rgb(180, 181, 182);
  font-size: 1em;
}

.personalInfo {
  grid-area: personal;
}

.jobInfo {
  grid-area: job;
}

.contactsInfo {
  grid-area: contacts;
  label {
    width: 7em;
  }
}

.job {
  text-align: center;

  input {
    margin-top: 1em;
  }
}

.submit {
  grid-area: submit;
  box-shadow: 0px 1px 5px rgb(2, 136, 214);
  background-color: #e9e6e6;
  border-radius: 0.6em;
  border: 3px solid rgb(2, 136, 214);
  cursor: pointer;
  color: #505739;
  font-size: 0.9em;
  padding: 0.5em 1.4em;
  text-shadow: 0px 1px 0px #ffffff;
  outline: none;
  &:hover {
    background: white;
    box-shadow: 0px 1px 5px rgb(47, 177, 252);
    border: 4px solid rgb(55, 170, 236);
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.loading {
  grid-area: submit;
}

.responseResult {
  padding: 0.6em 2em;
  margin: auto;
  grid-area: submitResult;
  border-radius: 1em;

  color: rgb(255, 255, 255);
  font-weight: 300;
}

.error {
  background-color: rgb(73, 13, 3);
  box-shadow: 0 0 14px rgb(194, 2, 2);
}

.sucess {
  background-color: rgb(8, 66, 58);
  box-shadow: 0 0 10px rgb(98, 160, 6);
}
