.container {
  display: flex;
  align-items: center;
}

.changePage {
  border: none;
  background: none;
  font-size: 4em;
  padding: 0;
  outline: none;
  user-select: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    margin-top: -0.2em;
  }
}

.prevPage {
  margin-right: 1em;
  margin-left: auto;
  &:hover {
    color: rgb(3, 68, 141);
  }
}

.nextPage {
  margin-left: 1em;
  margin-right: auto;
  &:hover {
    color: rgb(3, 68, 141);
  }
}

.inactive {
  visibility: hidden;
}

.usersArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 70%;
  margin-top: 1.5em;
}

.wrapper {
  display: grid;
  grid-template: "avatar info" 100%;
  grid-template-columns: 40% 60%;
  color: black;
  box-shadow: 0 0 2px 1px rgb(3, 41, 59);
  border-radius: 8px;
  height: 10em;
  width: 25em;
  margin: 1em 1em;
  p {
    padding: 0 0.5em;
    text-align: center;
  }
}

.avatar {
  grid-area: avatar;
  width: 100%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid rgb(2, 59, 97);
}

.btn {
  position: relative;
  top: -2.7em;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(203, 214, 214);
  box-shadow: 0 0 5px white;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 2px;
  border-radius: 5px;
  outline: none;
  padding: 0.3em 0.5em;
  cursor: pointer;
  &:disabled {
    animation: loading 2s infinite;
    border: none;
    background: rgb(108, 108, 108);
    background: linear-gradient(
      151deg,
      rgba(108, 108, 108, 1) 0%,
      rgba(204, 204, 204, 1) 100%
    );
    color: rgb(0, 0, 0);
  }
}

@keyframes loading {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 12px 1px rgb(87, 87, 87);
  }
  100% {
    box-shadow: none;
  }
}

.subcribe {
  background: rgb(168, 106, 53);
  background: linear-gradient(
    151deg,
    rgba(168, 106, 53, 1) 31%,
    rgba(195, 121, 29, 1) 59%
  );
}

.unSubcribe {
  background: rgb(21, 63, 92);
  background: linear-gradient(
    151deg,
    rgba(21, 63, 92, 1) 31%,
    rgba(3, 58, 96, 1) 59%
  );
}

.infoWrapper {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}

.name {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;

}

.status {
  margin-top:-2em;
  margin-bottom: auto;
  font-size: 1em;
}
