.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-top: -0.8em;
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

.input {
  color: rgb(255, 184, 30);
  font-size: 1.2em;
  background-color: RGB(5, 33, 54);
  padding: 0.2em 0.5em;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 34);
}

.edit {
  height: 1.3em;
  padding: 0;
  margin: 0.5em 0;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

.statusText {
  font-size: 1.2em;
  margin-top: 0.1em;
  margin-bottom: -0.2em;
  color: rgb(209, 145, 7);
}

.editable {
  margin: -0.5em;
  margin-right: -0.7em;
}
