.wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: -0.8em;
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

.input {
  color: rgb(255, 184, 30);
  font-size: 1.2em;
  background-color: RGB(5, 33, 54);
  padding:0.2em 0.5em;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 34);
}

.edit {
  height: 1.6em;
  padding: 0;
  margin: 0;
  cursor: pointer;
    transition: all 0.3s;
  &:hover {
      transform: scale(1.2);
  }
}

.statusText {
    font-size: 1.2em;
  padding: 0;
  margin: 0.7em 0.75em;
  color: rgb(209, 145, 7);
}
