.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 2.5em;
  transition: all 200ms linear;
  text-align: left;
  max-width: 13em;
  user-select: none;
  a {
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    color: black;
    align-self: center;
  }
}

.wrapper:hover {
  text-shadow: 0 0 3px rgb(138, 138, 138);
}

.container {
  display: flex;
  align-items: center;
  width: 16em;
  p {
      margin-left: 1em;
      width: 100%;
  }
}

.avatar {
  width: 4em;
  border-radius: 10em;
  object-fit: cover;
}

.active {
  color: rgb(255, 60, 0);
  transform: scale(1.2);
  margin-left: 1em;
  p {
    font-weight: 800;
    border-bottom: 1px solid rgb(15, 114, 207);
  }
  img {
    box-shadow: 0 0 6px 1px  rgb(15, 114, 207);
  }
}
