.container {
  display: flex;
  align-items: center;
  align-content: center;
  width: 12em;
  margin: 0.9em 0 0.9em 0.6em;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
}

.photo {
  width: 3em;
  height: 3em;
  border-radius: 5em;
  object-fit: cover;
}

.name {
  color: rgb(231, 231, 231);
  font-size: 0.9em;
  margin-left: 0.8em;
  text-overflow: ellipsis;
}

.container:hover {
  text-shadow: 0 0 7px white;
}

.container:hover .photo {
  box-shadow: 0 0 5px 1px white;
}

.online {
  flex-grow: 0;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 1.25em;
  border-radius: 10em;
  background-color: rgb(51, 161, 36);
}
