$header-background: rgb(234, 237, 238);
$header-text-color: rgb(2, 2, 2);

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-area: header;
  background-color: $header-background;
  color: $header-text-color;
  font-size: 1.2em;
  user-select: none;
  img {
    margin-left: 1.1em;
    width: 2.4em;
  }
  p {
    padding-left: 1em;
    font-weight: 600;
  }
}

.logInOutWrapper {
  background-color: #052136;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  height: 1.4em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: auto;
  min-width: 12em;
  padding-left: 1em;
}
