$nav-background: rgb(4, 33, 53);
$nav-text-color: white;
$nav-text-border: 1px solid white;
$nav-text-hover: rgb(0, 140, 255);
$nav-text-border-hover: rgb(85, 116, 255);


.nav {
    grid-area: nav;
    background-color: $nav-background;
    color: $nav-text-color;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
  
    a:first-child {
      margin-top: 1.4em;
    }
  
    a {
      margin-left: 1.2em;
      margin-bottom: 1.6em;
      border-bottom: $nav-text-border;
      padding-bottom: 0.3em;
      width: 6em;
      cursor: pointer;
    }
  
    a:hover {
      color: $nav-text-hover;
      border-color: $nav-text-border-hover;
    }
  }
  
