.photoContainer {
  position: relative;
  height: 21.5em;
}

.hiddenUpload {
  display: none;
}

.loadPhoto {
  position: absolute;
  top: 89%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  .upploadIco {
    height: 3.5em;
    width: 3.5em;
    border-radius: .3em;
    background-color: rgba(26, 26, 26, 0.589);
    padding: 0.5em;
    filter: saturate(2);
    transition: all 0.2s;
    &:hover {
      border-radius: 2em;
      filter: saturate(7);
      transform: scale(1.15);
      margin-top: -0.7em;

    }
  }
}

.userPhoto {
  height: 21.3em;
  margin-left: 0;
  background-color: rgb(4, 33, 53);
  padding-left: 0em;
  object-fit: contain;
}
