.mainWrapper {
  display: flex;
  margin-bottom: 0;
  height: calc(100% - 1em);
  justify-content: center;
  align-content: center;
  background-color: rgb(4, 33, 53);
  padding-top: 1em;
  overflow-y: hidden;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  height: 21em;
  width: 100%;
  margin-left: 0;
}

.infoWrapper * {
  color: white;
  padding: 0.7em 1.5em;
  margin: 0;
  font-weight: 400;
}

.userName {
  text-align: center;
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 0;
    padding: 0;
  }
}
