.postForm {
  h3 {
    text-align: center;
  }

  textarea {
    display: block;
    width: 60em;
    height: 5em;
    margin: auto;
    resize: none;
    outline: none;
    border-radius: 0.4em;
    border: 1px solid rgb(9, 76, 121);
    padding: 0.5em 1em;
    font-size: 1.1em;
  }

  button {
    display: block;
    height: 3em;
    width: 6em;
    margin: 1em auto 4em;
    background-color: rgb(4, 33, 53);
    color: white;
    letter-spacing: 1px;
    border-radius: 0.4em;
  }
}
