@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.app-wrapper {
  display: grid;
  grid:
    "header header" 3.5em
    "nav content" calc(100vh - 3.5em);
  grid-template-columns: 13% 87%;
  justify-content: center;
}