@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$content-background: rgb(240, 239, 235);
$content-text-color: rgb(0, 0, 0);



:root {
  font-size: calc(0.4em + 0.5vw);
}

body {
  font-family: "Quicksand", sans-serif;

}

body::-webkit-scrollbar {
  width: 0;
}
 

.app-wrapper {
  display: grid;
  grid:
    "header header" 3.5em
    "nav content" calc(100vh - 3.5em);
  grid-template-columns: 13% 87%;
  justify-content: center;
}

.app-wrapper-content {
  grid-area: content;
  background-color: $content-background;
  color: $content-text-color;
  font-size: 1em;
  padding: 0;
}
